#!/bin/bash

export REPO_ROOT_DIR="$(pwd)"
if [[ $REPO_ROOT_DIR == *" "* ]]; then
  echo -e '\e[1;31mOh my Dear! You have WHITESPACE characters in your REPO_ROOT_DIR path!!! you will get in big trouble!!! \e[0m'
fi

unset DEST
PS3='choose destination environment: '
options=("devtest" "qa" "prod")
select opt in "${options[@]}"
do
    case $opt in
        "qa")
            ;&
        "devtest")
            export DEST=$opt
            echo -e "you chose $REPLY which is \e[1;33m$opt\e[0m"
            break
            ;;
        "prod")
            export DEST=$opt
            echo -e "you chose $REPLY which is \e[1;31m$opt\e[0m"
            break
            ;;
        *)
            echo "invalid option '$REPLY'!"
            break
            ;;
    esac
done

if [ -z "$DEST" ]; then echo "aborting ... not sourcing .envrc" ; return ; fi

gcloud config configurations activate ${DEST}-myk8spray 2> /dev/null

#  ( consider using https://direnv.net )
# variables prefixed with 'TF_VAR_' can be used in terraform files (without the prefix)

export TF_VAR_CLUSTER_PREFIX="cluster"
export TF_VAR_CLUSTER_NAME="${TF_VAR_CLUSTER_PREFIX}-hoffi1"

export TF_VAR_JUMPBOXIP=34.77.68.177
export TF_VAR_JUMPBOXUSER=${DEST}-jbadmin
export TF_VAR_JUMPBOXSSHFILENAME=gcp-${DEST}-jumpbox
export TF_VAR_JUMPBOXSSHFILE="${HOME}/.ssh/$TF_VAR_JUMPBOXSSHFILENAME"
export TF_VAR_JUMPBOXSSHPUB=$(cat ${TF_VAR_JUMPBOXSSHFILE}.pub)
if [ ! -s "${TF_VAR_JUMPBOXSSHFILE}" ] || [ ! -s "${TF_VAR_JUMPBOXSSHFILE}.pub" ]; then
    echo -e "\e[1;31mINIT ERROR: ${TF_VAR_JUMPBOXSSHFILE} and/or ${TF_VAR_JUMPBOXSSHFILE}.pub does not exist!\e[0m"
fi
export TF_VAR_NODEUSER=${DEST}-jbadmin
export TF_VAR_NODESSHFILENAME=gcp-${DEST}-jumpbox
export TF_VAR_NODESSHFILE="${HOME}/.ssh/$TF_VAR_NODESSHFILENAME"
export TF_VAR_NODESSHPUB=$(cat ${TF_VAR_NODESSHFILE}.pub)
if [ ! -s "${TF_VAR_NODESSHFILE}" ] || [ ! -s "${TF_VAR_NODESSHFILE}.pub" ]; then
    echo -e "\e[1;31mINIT ERROR: ${TF_VAR_NODESSHFILE} and/or ${TF_VAR_NODESSHFILE}.pub does not exist!\e[0m"
fi

export TF_VAR_PROJECT_ID=$(gcloud config get-value project)
export TF_VAR_ADMIN_NAME=${DEST}-tu-k8s
export TF_ADMIN=${TF_VAR_ADMIN_NAME}@${TF_VAR_PROJECT_ID}.iam.gserviceaccount.com

export TF_VAR_GCP_PROJECT_SERVICE_ACCOUNT_FILE="${REPO_ROOT_DIR}/secrets/${TF_VAR_PROJECT_ID}_${TF_VAR_ADMIN_NAME}.json"
if [ ! -s "${TF_VAR_GCP_PROJECT_SERVICE_ACCOUNT_FILE}" ]; then
    echo -e "\e[1;31mINIT ERROR: ${TF_VAR_GCP_PROJECT_SERVICE_ACCOUNT_FILE} does not exist!\e[0m"
fi
export GOOGLE_APPLICATION_CREDENTIALS=${TF_VAR_GCP_PROJECT_SERVICE_ACCOUNT_FILE}
export TF_VAR_GCP_REGION=$(gcloud config get-value compute/region)
export TF_VAR_GCP_ZONE=$(gcloud config get-value compute/zone)
# export TF_VAR_org_id=YOUR_ORG_ID
# export TF_VAR_billing_account=YOUR_BILLING_ACCOUNT_ID
export TF_VAR_TF_STATE_BUCKET="terraform-state-${TF_VAR_PROJECT_ID}"

echo !!!!!!!!!!!!!!!!!!!!!!!!!!!
echo source bash_aliases
source ${REPO_ROOT_DIR}/bash_aliases

